.carousel-item {
  height: 300px;
  width: 100%;
  position: relative;
}

img {
  object-fit: cover
}

.shadowedtext {
  text-shadow: 1px 2px 2px white, 1px 1px 5px white;
}

@media screen and ((min-width: 876px)) {
  .carousel-item {
    height: 85vh;
  }
}