<div class="container-fluid p-0 ">

  <div id="carouselControls" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner w-100">
      <div class="carousel-item active">
        <img ngSrc="/assets/chuleton_high.gif" alt="Chuletón a la parrilla" fill priority>
        <div class="carousel-caption text-center ">
          <h2 class="text-dark shadowedtext" translate>hero.carnes</h2>
          <p class="text-dark shadowedtext " translate>hero.carnes_description</p>
        </div>
      </div>
      <div class="imagecustomized2 carousel-item">
        <img ngSrc="/assets/asador2.jpg" alt="Chuletón a la parrilla" fill>
        <div class="carousel-caption text-center ">
          <h2 translate>hero.asador</h2>
          <p translate>hero.asador_description</p>
        </div>
      </div>
      <div class="imagecustomized3 carousel-item">
        <img ngSrc="/assets/coles.jpg" alt="Chuletón a la parrilla" fill>
        <div class="carousel-caption text-center ">
          <h2 translate>hero.tradicional</h2>
          <p translate>hero.tradicional_description</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <carta></carta>

  <div class="text-center d-flex flex-column justify-content-center align-items-center">
    <div class="col-lg-7 d-flex flex-column justify-content-center align-content-center ">
      <h2 class="text-dark p-1 px-3" translate>org_msg1
        <span class="text-success" translate>org_msg2</span>
      </h2>
      <p class="lead text-dark p-5 text-center" translate>org_msg3</p>
    </div>
    <div class="col-lg-5 d-flex flex-column justify-content-center align-content-center">
      <img ngSrc="/assets/langosBoda.jpg" alt="Langostinos" class="img-thumbnail d-block m-auto" width="568"
        height="320">
    </div>
  </div>
</div>