<div class="container pt-3" id="carta">
  <div class="row p-2">
    <div class="col-6 col-md-4 text-center carta-item" *ngFor="let carta of cartaItems; ">
      <div class="mini">
        <img [routerLink]="['/carta/', carta.label]" [ngSrc]="'/assets/'+ carta.img" [alt]="carta.label" fill>
      </div>
      <p class="h3 text-center text-dark shadowtextcustom pointered" [routerLink]="['/carta/', carta.label]">
        {{ 'menu.'+carta.label |translate }}
      </p>
    </div>
  </div>

  <hr class="featurette-divider w-100 p-0">

  <div class="row p-2">
    <p class="text-center text-primary p-0 m-0" translate>menu_dia</p>
    <p class="text-center text-muted fs-6 p-0" translate>menu_dia_horario</p>
  </div>

  <hr class="featurette-divider">

  <p class=" text-center text-primary" translate>pan_picos</p>

  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">


</div>