<div class="container pt-3" id="carta">
    <div class="row p-2">
        <div class="col-6 text-center" *ngFor="let carta of cartaItems; ">
            <div class="text-center">
                <div class="mini" [routerLink]="['/carta/', carta.label]"
                    [ngStyle]="{'background-image':'url(\'/assets/'+ carta.img + '\')'  }"></div>
                <p class="h3 text-center text-dark shadowtextcustom" [routerLink]="['/carta/', carta.label]">
                    {{carta.label}}</p>
            </div>
        </div>
    </div>

    <p class=" text-center text-primary">Servicio de mesa, pan y aceitunas 1€ por persona.</p>
    <p class=" text-center text-primary">Cover charge, bread and Olives 1€ per customer.</p>


    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <hr class="featurette-divider">
</div>